.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  // border-bottom: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto 0;

  img {
    height: 30px;
    width: 30px;
    margin-right: 12px;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-decoration: none;
    color: #000000;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    width: 70%;
    display: flex;
    background-color: rgb(163, 158, 158);
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

    &:first-child {
      margin-right: 24px;
    }
  }

  &:hover {
    filter: brightness(110%);
  }

  a {
    text-decoration: none;
    color: black;
  }

  & .active {
    text-decoration: underline;
  }
}
